.booking-form-container{
  position: -webkit-sticky;
  position: sticky;
  top: 35px;
}

.booking-form-container form {
  width: 355px;
  height: 361px;
  padding: 0 24px;
  border: 1px solid #e4e4e4;
}

.booking-form-input {
  width: 288px;
  height: 31px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
}

#booking-button {
  height: 42px;
}

.DateInput_input {
  text-align: center;
  margin-top: 0;
}