.booking-form-container{
  /* width: 326px;
  height: 361px;
  padding: 0 24px;
  border: 1px solid rgb(72, 72, 72); */
}

.booking-form-container form {
  width: 355px;
  height: 361px;
  padding: 0 24px;
  border: 1px solid #e4e4e4;
}

.booking-form-input {
  width: 288px;
  height: 31px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
}