form {
  background: white;
  /* border: 1px solid grey; */
  /* box-shadow: ; */
  padding: 32px;
  font-size: 20px;
  margin: auto;
  width: 504px;
  display: block;
  z-index: 3;
  min-height: 224px;
  max-height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form input {
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
  border: 1px solid grey;
  margin-top: 15px;
  border-radius: 4px;
}

#session-form-button {
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
}

form input[type=submit] {
  text-align: center;
  background-color: rgb(255, 90, 95);
  color: white;
}