form {
  background: white;
  /* border: 1px solid grey; */
  /* box-shadow: ; */
  padding: 32px;
  font-size: 20px;
  margin: auto;
  width: 504px;
  display: block;
  z-index: 3;
  min-height: 224px;
  max-height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border-radius: 4px; */
  /* box-sizing: border-box; */
}

form input {
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
  border: 1px solid grey;
  margin-top: 15px;
  border-radius: 4px;
}

#session-form-button {
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
}

form input[type=submit] {
  text-align: center;
  background-color: rgb(255, 90, 95);
  color: white;
}

form input[type=submit]:focus {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

form input:focus {
  border: 1px solid #008489;
}


.alternate {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: grey;
  /* box-sizing: border-box;
  min-height: 40px; */
}

.alternate button {
  color: #008489;
}

.alternate button:hover {
  /* border-bottom: 2px solid #008489; */
  text-decoration: underline;
}

.demo-login{
  color: white;
  background-color: #008489;
  text-align: center;
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
  margin-top: 15px;
  border-radius: 4px;
}

form ul {
  /* list-style: disc; */
  text-align: center;
  font-size: 14px;
};
