form {
  background: white;
  /* border: 1px solid grey; */
  /* box-shadow: ; */
  padding: 32px;
  font-size: 20px;
  margin: auto;
  width: 504px;
  display: block;
  z-index: 3;
  min-height: 224px;
  max-height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border-radius: 4px; */
}

form input {
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
  border: 1px solid grey;
  margin-top: 15px;
  border-radius: 4px;
}

#session-form-button {
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
}

form input[type=submit] {
  text-align: center;
  background-color: rgb(255, 90, 95);
  color: white;
}

.alternate {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: grey;
}

.alternate a {
  color: #008489;
}

.alternate a:hover {
  border-bottom: 2px solid #008489;
}

.demo-login{
  color: white;
  background-color: #008489;
  text-align: center;
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
  margin-top: 15px;
  border-radius: 4px;
}

form ul {
  /* list-style: disc; */
  text-align: center;
  font-size: 14px;
};


