.greeting {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  font-weight: 400;
  font-size: 14px;
  /* color: white; */
  color: rgb(72, 72, 72);
  align-items: center;
  height: 80px;
}

.greeting button {
  padding: 10px;
  text-decoration: none;
  padding-left: 20px;
}

.logged-out {
  display: flex;

}
/* 
#explore {
  padding: 10px;
  text-decoration: none;
  padding-left: 20px;
} */

.welcome-message-logged-in {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 275px;
}

#welcome-message {
  vertical-align: text-bottom; 
}

#signup-link {

}

#login-link {
  margin-right: 25px;
}

.greeting button {
  border-bottom: 2px solid transparent;
}

.greeting button:hover {
  /* border-bottom: 2px solid white; */
  border-bottom: 2px solid rgb(72, 72, 72);
}

#logo {
  width: 75px;
  height: 50px;
}

.greeting div:first-child {
  margin-right: auto;
}

.logo {
  flex: -1;
}

.logo a:hover {
  border-bottom: none;
}

#welcome-message {
  /* padding-right: 30px; */
}

#logout-button {
  /* padding-right: 15px; */
}

.greeting-links {
  border-bottom: 1px solid lightgrey;
}
