.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
.demo-login{
  color: red !important;
  background-color: #008489;
  text-align: center;
  display: block;
  width: 456px;
  height: 24px;
  padding: 10px 22px;
  margin-top: 15px;
  border-radius: 4px;
} */