.search-filters {
  /* height: 75px; */
}

/* .price-menu{
  height: 300px;
  z-index: 10;
} */

.search-filters input {
  border: 1px solid black;
}

.price-filter-bounds {
  display: flex;
  justify-content: space-between;
}

.range-slider {
  margin: 8px;
}