/* Photos section */

.show-photos-container {
  max-height: 600px;
  overflow: hidden;
}
.show-photos-container ul {
  /* max-height: 700px; */
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  /* overflow: hidden; */
  object-fit: cover;
}

.show-photos-container ul li:hover {
  /* -webkit-filter: brightness(70%); */
}


.show-photos-container ul li img {
  object-fit: cover;
  height: 100%;
  /* opacity: .8; */
}

.show-photos-container ul li {
  object-fit: cover;
  max-height: 280px;
  overflow: hidden;
}
.show-photos-container ul li img:hover {
  transition: transform .8s; 
  transform: scale(1.05);
  overflow: hidden;
  object-fit: cover;
  /* opacity: 1; */
  -webkit-filter: brightness(105%);
}

.photo-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;  
}
#photo-1 {
  max-height: 560px;
}

.photo-2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  
}

.photo-3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  
}

.photo-4 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  
}

.photo-5 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  
}

.show-content-container {
  display: flex;
}


/* Content section */
.show-content-information {
  max-width: 600px;
  margin: auto;
  color: rgb(72, 72, 72);
  margin-top: 20px;
  margin-right: 40px;
}

.show-home-type {

  font-size: 14px;
  font-weight: 400;
}

.show-home-type h3 {
  font-weight: 700;
  color: #734f21;
};

.show-home-title {
  margin: 15px 0;
}
.show-home-title {
  font-size: 36px;
  font-weight: 700;
} 

.show-home-city {
  margin: 20px 0;
}
.show-home-city p {

  margin-bottom: 25px;
}

.show-home-beds-baths ul{
  display: flex;
}
.show-home-beds-baths ul li{
  padding-right: 15px;
}


.show-home-description {
  min-height: 225px;
  /* border-bottom: lightgrey; */
  line-height: 30px;
}

.show-home-amenities h4 {
  font-weight: 700;
}

.show-home-amenities ul {
  min-height: 225px;
  max-height: 225px;
  border-bottom: lightgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.show-home-amenities ul li {
  width: 49%;
  margin: 10px;
  padding: 10px;
}

.show-booking-calendar {
  min-height: 444px;
  border-bottom: lightgrey;
}

.show-reviews-container {
  min-height: 500px;
}

.show-booking-info {
  /* box-sizing: border-box; */
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 0px;
}