.show-photos-container img {
  max-height: 468px;
}

.show-content-information {
  max-width: 670px;
  margin: auto;
}





.show-home-description {
  min-height: 225px;
  border-bottom: lightgrey;
}

.show-home-amenities {
  min-height: 225px;
  border-bottom: lightgrey;
}

.show-booking-calendar {
  min-height: 444px;
  border-bottom: lightgrey;
}

.show-reviews-container {
  min-height: 500px;
}